body, html{
    margin:0;
    padding:0;
}


.header-section{
    position:fixed;
    z-index:1000;
    width:100%;
}

main{
    padding-top:100px;
}

.header{
    background-color:#191009;
    width:100%;
    height:120px;
    display:flex;
    flex-flow:row nowrap;
   
}

.logo-wrapper{
    width:50%;
    display:flex;
    justify-content:flex-start;
}

.logo-mid-container{
       width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}


.logo-container {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    height: 100%;
    width: 100%;
}

.logo-link{
        text-decoration: none;
    width: 50px;
    margin: auto 0;
    flex: 0 0 30%;
}

.logo-img{
    width:100px;
}

.logo-title{
    color:white;
    margin:auto 0;
}

.nav-wrapper{
        justify-content: flex-end;
    display: flex;
    width: 50%;
}

.logo-wrapper, .nav-wrapper{
    flex:0 0 50%;
}

.navbar{
    position: relative !important;
    top: 30px !important;

}



.cover-header-container{
     /* position: relative; */
     z-index:-1;
    top:120px;
    width:100%;
    height:300px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%),url("./assets/toolsbg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}





.cover-title-container{
    
    border-radius: 15px;
    margin:auto;
    /* backdrop-filter: blur(5px); */
}

.cover-title{
    text-align:center;
    color:#A3E8FC;
}

.cover-content{
    color:white;
    text-align:center;
    font-size:1.3rem;
}




.painting{
    background-color:#191009;
    color:#A3E8FC;
}

.content-title{
    color:#191009;
}

.card-footer{
    background-color:#191009;   
}



.job-img{
    width:200px;
    height:200px;
    object-fit:cover;
}

.white-first{
    background-color:white;
}

.brown-first{
    background-color:#191009;
    color:#A3E8FC;
}



@media  screen and (max-width: 990px) {
    .navbar-collapse{
    position:relative;
    background-color:#191009;
    top:20px;
    text-align:center;
    border-radius:15px;
}
}


@media screen and (max-width:767px){

 

    .cover-title-container{
        width: 90%;
    }

    .nav-wrapper{
        flex:0 0 30%;
    }

    .logo-wrapper{
        flex:0 0 70%;
    }
    .logo-title{
        font-size:1em;
        padding-left:25px;
        text-align:center;
    }

    .logo-img{
        width:70px;
    }

    .logo-link{
        text-decoration: none;
    width: 10px;
    margin: auto 0;
    flex: 0 0 30%;
}

  

}







/* ul{
    text-decoration: none;
    list-style-type: none;
    bottom:0;
    display:flex;
    flex-flow:row nowrap;
    padding:5px;
    justify-content:space-between;
}



a:hover{
    color:#A3E8FC;
} */